name: Update GitOps Manifests

on:
  # This could use a workflow_call instead... (or have both)
  workflow_dispatch:
    inputs:
      service:
        description: "Path to the service to deploy (go/api-golang)"
        required: true
        type: string
      version:
        description: "Version to deploy"
        required: true
        type: string
      image_tag:
        description: "Image tag of the version to deploy"
        required: true
        type: string
      environment:
        description: "Target environment to deploy to"
        required: true
        type: choice
        options:
          - development
          - staging
          - production

jobs:
  update-manifests:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: ./.github/actions/setup-dependencies
        with:
          install_task: "true"
      - name: Generate Commit Message
        id: generate-commit-message
        run: |
          commit_message="chore: update ${{ inputs.environment }}, ${{ inputs.service }}, ${{ inputs.version }}"
          echo "commit_message=${commit_message}" >> "$GITHUB_OUTPUT"
      - working-directory: ${{ inputs.service }}
        run: |
          task utils:update-image-tags-service \
            NEW_TAG=${{ inputs.version }} \
            ENVIRONMENT=${{ inputs.environment }}
      - run: |
          git diff
      # Alternatively, we could use peter-evans/create-pull-request to generate a PR instead
      - name: Commit Changes to Main
        if: ${{ !env.ACT }} # Don't trigger deploy when running locally
        uses: stefanzweifel/git-auto-commit-action@778341af668090896ca464160c2def5d1d1a3eb0 # v6.0.1
        with:
          commit_message: ${{ steps.generate-commit-message.outputs.commit_message }}
          branch: main
